<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <connectionStrings>
        <add name="dbDavisStoreConnectionString" connectionString="Data Source=168.26.205.150;Initial Catalog=dbDavisStore;Persist Security Info=True;User ID=davis_chanethia;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      
      <membership defaultProvider="MyMembership">
        <providers>
          <add name="MyMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbDavisStoreConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"/>
        </providers>
      </membership>
      
      <authentication mode="Forms">
        <forms defaultUrl="default.aspx"  slidingExpiration="true" timeout="20"></forms>
      </authentication>
      <roleManager enabled="true" defaultProvider="MyManager">
        <providers>
          <add name="MyManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="dbDavisStoreConnectionString"/>
        </providers>
      </roleManager> 
    </system.web>

  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/> 
      </authorization>
    </system.web>
  </location>
</configuration>



